@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  overflow: hidden;
}

@theme {
  --font-secondary: "Anton", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes check {
  from {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}

.animate-check {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: check 0.4s ease-out forwards;
}
