@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  overflow: hidden;
}

@theme {
  --font-secondary: "Anton", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
